*{
background-color: black;
}


.container-port {
  margin: 15px;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  color: #F3015D;
  border-radius: 15px;
  justify-content: flex-end;
 
 
  
}
ul {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  
  
}
ul li a {
  margin: 20px;
}

